.Header {
    width: 100%; /* Ensure the header spans the full width of the page */
    padding: 20px 20px; /* Add some padding around the content */
    box-sizing: border-box; /* Include padding in the width calculation */
    background-color: #333; /* Dark grey background */
    color: white; /* White text color */
    }
    
  .Header h1 {
    margin: 0; /* Remove the default top and bottom margin */
    margin-bottom: 8px; /* Add space below the h1 */
    text-align: center; /* Align text to the left */
    font-size: 2em; /* Increase the font-size */
  }
    
  .Header nav {
    margin-top: 10px; /* Add some space between the header and content */
  }
  
  .Header-tagline {
    margin: 0;
    font-size: 1rem; /* Smaller font size for the tagline */
    color: #ccc; /* Optional: a lighter color for the tagline */
    text-align: center;
  }
    
    /* Responsive adjustments can be added here */
    